{% extends 'base.html' %} 
{% block content %}
<h1>About the Poke Collector</h1>
<hr />
<p class="page-content">
  The Pokemon Collector is a site where you can view and collect pokemon.
  <br>
  <br>
  You can view your Pokemon roster by clicking "Your Pokemon" in the navigation bar. 
  <br>
  <br>
  You can also view more information about the Pokemon by clicking on the Pokemon's card. 
  <br>
  If you would like to add a Pokemon to your collection, you can do so by clicking on the "Catch Pokemon" button on the Pokemon's page.
  <br>
  You can view all the Pokemon in your collection by clicking on the "My Collection" link in the navigation bar.
</p>
{% endblock %}